<!--  Replace menu links here -->

<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/index.html">主页</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/categories.html#developers">开发者</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/categories.html#cases">案例</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/categories.html#cultures">文化</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/categories.html#news">新闻</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/categories.html#solid">SoLiD 数据主权</a>
</li>    

<li class="nav-item">
    <a class="nav-link" style="border:1px solid #ced4da;border-radius:4px;margin-right:7px;padding: 0.5rem 0.7rem;" href="{{site.baseurl}}/about.html">联系我们</a>
</li>    
<li class="nav-item">
    <a target="_blank" class="nav-link" style="background: #49a1e0;color:#fff;border:1px solid #ced4da;border-radius:4px;padding: 0.5rem 0.7rem;"  href="https://sign.authing.cn">登录/注册</a>
</li>    
